body {
  background-color: lightcyan;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: lightgrey;
  width: 5%;
  height: 2px;
}
h1 {color: #66BFBF;}
h3 {color: #66BFBF;}
